
body{ 
    margin: 0px;
    padding: 0px;
}

.logo {
	height: 80px;
	width: 115px;
    margin-left: 25px;
    float: left;
}

#top-bar {
    margin: 0;
    padding: 0;
}

#fg-password-area {
    background: #011627;
    height: 350px;
    padding-top: 10px;
}

header {
    width: auto;
    height: 100px;
    background: white;
}

#navbar { 
    padding-top: 10px;
    float: right;
    margin-right: 10px;
}

#navbar a {
    font-size: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    padding: 10px;
    text-decoration: none;
    font-family: sans-serif;
}

#navbar a:link, #navbar a:visited {
    /*background-color: white;*/
    color: black;
    border: 2px solid black;
    font-size: 10px;
    font-weight: bold;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#navbar a:hover, #navbar a:active {
    background-color: black;
    color:white;
    /*font-size: 100%;*/
    font-weight: bold;
}

#fg-container {
    margin-left: 35%;
    margin-right: 30%;
    margin-top: 70px;
}

#fg-container h1{
    margin-left: auto;
    margin-right: auto;
    color: white;
}

#fg-container p{
    color: #FF9F1C;
}

#fg-container input {
    margin-top: 20px;
    width: 370px;
    height: 30px;
    font-size: 120%;
}

#fg-container button {
    padding: 4px 12px;
    font-size: 14px;
    background: white;
    color: black;
    font-weight: bold;  
    margin-top: 10px;
}

/*#image-area {
    background-image: url("images/backyard.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: auto;
    height: 500px;
}*/

#bottom-bar {
    margin-top: 300px;
    width: auto;
    height: 180px;
    background: #FF9F1C;
}


