
/* - - - - - - - Header Style - - - - - - - */

.logo {
	height: 60px;
	width: auto;
	margin-left: 25px;
	float: left;
}

#top-bar {
	margin: 0;
	padding: 0;
}

header {
	width: auto;
	height: 100px;
	background: white;
}

header .greeting {
	display: inline-block;
	color: #011627;
}

#navbar {
	padding-top: 10px;
	float: right;
	margin-right: 10px;
}

#navbar .buttons {
	display: inline-block;
	margin-top: 20px;
}

#navbar .buttons * {
	margin-left: 10px;
	margin-right: 10px;
}

input[type="submit"] {
	background: none;
  	border: none;
	font-weight: bold;
}

.button {
	font-size: 100%;
	padding: 10px;
	text-decoration: none;
	font-family: sans-serif;
	cursor: pointer;
}

.button:link, .button:visited, .button {
	color: black;
	border: 2px solid black;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 18px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

.button.inverse {
	color: #FFF;
	border: 2px solid #FFF;
}

.button.inverse:hover, .button.inverse:active {
	background-color: #FFF;
	color: #000;
}

.button:hover, .button:active {
	background-color: black;
	color:white;
	/*font-size: 100%;*/
	font-weight: bold;
}

/* - - - - - - - - Footer Style - - - - - - - */

#bottom-bar {
	width: auto;
	height: 120px;
	background: #FF9F1C;
	padding-top: 10px
}

#bottom-bar h4 {
	text-align: center;
	color: white;
}

#bottom-bar img {
	width: 120px;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
}

/* - - - - - - - - Post pets style - - - - - - - -*/

#sidebars {
    background-color: #fff4e3;
	/*background-image: url("images/upet_post_bg.png");
	background-repeat: no-repeat;*/
}

body hr { 
    display: block;
    margin-top: 3em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
	padding: 2px;
	background: white;
}

#post-container {
	background: #242424;
	padding: 40px 90px 20px 90px;
	height: auto;
	width: auto;
	margin-left: 28%;
	margin-right: 28%;
	color: white;
	font-size: 115%;
}

#post-container p, h1 {
	text-align: center;
}

#post-container h1 {
	text-align: center;
	font-weight: bold;
	margin-top: -20px;
	margin: auto 100px auto 100px;
	padding: 10px;
	border-radius: 40px;
	background: white;
	color: black;
}
#post-container textarea {
	margin-left: 20px;
	margin-top: 20px;
}

#custom-submit {
    color: black;
    background: white;
    margin: auto;
    margin-left: 40%;
    margin-right: 40%;
}

#custom_bold {
	font-weight: bold;
	font-size: 140%;
}

.custom-spacing {
    font-size: 150%;
    font-weight: bold;
	margin-top: 10px;
	margin-left: 10px;
}

.checkbox-margin {
	margin-top: 40px
}
#text-area {
	margin: auto;
}

#left-spacing {
    margin-left: 35px;
}

/* - - - - - - - - Results page style - - - - - - - - */

#search-component-area {
    background: #FF9F1C;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 350px;
    padding-top: 10px;
    margin: auto;
}

#search-container {
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 100px;
}

#search-container h1{
	margin-left: auto;
	margin-right: auto;
	color: white;
}

#search-container input {
	margin-top: 20px;
	width: 370px;
	height: 30px;
	font-size: 120%;
}

#search-container button {
	padding: 4px 12px;
	font-size: 14px;
	background: white;
	color: black;
	font-weight: bold;
	margin-top: 10px;
}

#results-container {
    background-color: white;
    background-size: 100%;
    height: 1200px;
    margin: auto;
    float: right;
    clear: both;
}

#results-container table {
	margin-left: auto;
	margin-right: 40px;
	font-family: sans-serif;
	color: white;
	float: right;
}

#filter-container {
    background: #333333; /* 2EC4B6 */
    color: white;
    float: left;
    clear: both;
    width: 290px;
    height: 1400px;
    margin: auto;
}

#filter-container .dropdown {
    margin: auto auto auto 20px;
}

#animal-results-container {
    float: right;
    width: 100%;
    height: 100%;
    margin: auto;
}

#animal-results-container h1 {
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 20px auto;
}

#animals-table{
    border: none;
    width: 100%;
}

.circle {
	width: 100%;
	height: auto;
    margin: auto;
	background: black;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
    position: relative;
    padding-top: 100%;
}

.spacing {
	margin-left: 60px;
	margin-top: 60px;
	margin-bottom: 20px;
}

.pet-info h4 {
	font-weight: bold;
}

.pet-info {
	color: black;
}

.dropdown input[type=checkbox] + label {
  color: white;
  font-style: italic;
} 

.dropdown input[type=checkbox]:checked + label {
  font-size: 130%;
  font-style: normal;
} 

.filter-header {
    background: #2EC4B6;
    width: 300px;
    margin: auto auto auto -20px;
    padding: 1px;
}

.filter-header h3{
	margin-left: 20px;
}

/* - - - - - - - - Forgot Password Style - - - - - - - - */

#fg-password-area {
	background: #011627;
	height: 350px;
	padding-top: 10px;
}

#fg-container {
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 70px;
}

#fg-container h1{
	margin-left: auto;
	margin-right: auto;
	color: white;
	margin-left: 40px;
	
}

#fg-container p{
	color: #FF9F1C;
	margin-left: 40px;
}

#fg-container input {
	margin-top: 20px;
	width: 370px;
	height: 30px;
	font-size: 120%;
}

#fg-container button {
	padding: 4px 12px;
	font-size: 14px;
	background: white;
	color: black;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 40px;
}

.full-container {
    display: flex; 
}

/* - - - - - - - - MyOrder Page Styling - - - - - - - */


.flex-container-outer {
	margin: 0 auto; 
	margin-top: 100px;
	display: -webkit-flex; /*safari*/
	-webkit-justify-content: space-between;
	display: flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	max-width: 900px;
	height: 200;
	height: auto;
	align-items: center;
	padding: 20px 20px;
	border-radius: 10px;
}

.flex-container-inner {
	width: 100%;
	height: 120px;
	border-radius: 16px;
	margin-bottom: 20px;
	display: -webkit-flex; /*safari*/
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

.flex-item {
	width: 60px;
	padding: 4px;
	background-color: #333333;
	flex: 1 100%;
	color: white;
	
}

.item1 {
	height: 20px;
	padding: 20px;
	background-color: white;
	border-bottom: solid 1px black;
	color: black;
	padding-bottom: -10px;
}

.item2 {
	-webkit-align-self: flex-end;
    align-self: flex-end;
	flex: 1 6 20%;
	padding-left: 20px;
	padding-top: 10px;
	color: white;
	float: left;
}

.item3 {
	padding-left: 20px;
	float: left;
}


.item5 {
	flex: 2 100%;
}

.right_side {
	float: right;
	clear: both;
}

.item5 a {
	margin: auto;
	float: right;
    font-size: 100%;
    padding: 20px;
    text-decoration: none;
    font-family: sans-serif;
	margin-right: 10px;
	margin-bottom: 10px;
}

.item5 a:link, .item5 a:visited {
    color: black;
    border: 2px solid black;
	background-color: white;
    font-size: 12px;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.item5 a:hover, .item5 a:active {
    background-color: black;
    color: #DBDBDB;
    font-size: 12px;
    font-weight: bold;
}

#large_container h2 {
	font-weight: bold;
	text-align: center;
	color: black;
	padding-top: 50px;
}

#large_container {
	width: auto;
	height: 1500px;
	background: #fff4e3;
	font-weight: bold;
}

/* - - - - - - - - Input styling - - - - - - - - */

input[type="text"],
input[type="search"],
input[type="radio"],
input[type="number"],
input[type="file"] {
  color: black;
  padding: 5px;
  border: solid 2px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  margin: 30px auto auto 40px;
}



input[type="file"] {
  color: white;
  padding: 20px;
  border: solid 2px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  margin: auto;
  display: block; 
}

input[type="text"]:focus,
input[type="text"].focus,
input[type="search"]:focus,
input[type="search"].focus,
input[type="radio"]:focus,
input[type="radio"].focus,
input[type="number"]:focus,
input[type="number"].focus,
input[type="file"]:focus,
input[type="file"].focus {
  color: black;
  border: solid 1px white;
  box-shadow: 0 0 5px 1px #969696;
}

#select-blackfont {
    color: black;
}

.container label {
  position: relative;
  margin-left: 40px;
}

.container span::before,
.container span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.container span.radio:hover {
  cursor: pointer;
}
.container span.radio::before {
  left: -52px;
  width: 45px;
  height: 25px;
  background-color: #2EC4B6;
  border-radius: 50px;
}
.container span.radio::after {
  left: -49px;
  width: 17px;
  height: 17px; 
  border-radius: 10px;
  background-color: #011627;
  transition: left .25s, background-color .25s;
}


input[type="radio"]:checked + label span.radio::after {
  left: -27px;
  background-color: #E71D36;
}

textarea {
  resize: none;
  color: black;
}

.btn-style{
	border-radius : 3px;
	moz-border-radius : 3px;
	font-size : 20px;
	color : #000000;
	padding : 1px 10px;
	background-color : #ffffff;

}

#mainselection select {
   border: 0;
   color: black;
   background: transparent;
   font-size: 20px;
   font-weight: bold;
   padding: 2px 10px;
   width: 378px;
   *width: 350px;
   *background: #011627;
   -webkit-appearance: none;
}

#mainselection {
   overflow:hidden;
   width:350px;
   -moz-border-radius: 9px 9px 9px 9px;
   -webkit-border-radius: 9px 9px 9px 9px;
   border-radius: 9px 9px 9px 9px;
   box-shadow: 1px 1px 11px #011627;
   background: #2EC4B6 no-repeat scroll 319px center;
   margin: 40px;
}

/* To hide checkboxes and radioboxes */
.section input[type="radio"],
.section input[type="checkbox"]{
  display: none;
}

/* Post container numbers */
.number {
    background: #FF9F1C;
    color:black;
    height: 60;
    width: 60px;
    display: inline-block;
    font-size: 2em;
    margin-right: 4px;
    line-height: 60px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 30px 30px 30px 3px;
	margin-top: 20px;
	margin-left:-1em;
	margin-right: 1em;
}

/* - - - - - - - Check box styling - - - - - - - - */

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 3px; left: 4px;
  font-size: 18px;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}

[type="checkbox"]:disabled + label {
  color: #aaa;
}

[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

label:hover:before {
  border: 1px solid #4778d9;
}

/* - - - - - - - Text Area Styling - - - - - - - */

#information-area textarea {
  color: black;
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}

#information-area textarea {
  color: black;
  border: solid 1px white;
  box-shadow: 0 0 5px 1px #969696;
}

/* - - - - - - - 403 Page && 404 Page Styling - - - - - - - */

#error {
    background: #383838;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 5% auto;
}

#error .header {
    color: white;
    margin: auto;
    text-align: center;
    font-size: 400%;
}

#error img {
    margin: auto;
    display: block;
    height: 30%;
    width: 30%;
}

#error .words {
    text-align: center;
    color: white;
    font-size: 175%;
}
