body {

    /*background-image: url("login_bg.jpg");*/
    background: #white;
    background-size: 100%;
    background-repeat: no-repeat;

}

.form-group {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    font-family: sans-serif;
    margin-top: 1%;
}

.form-container {

}

#container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    font-family: sans-serif;
}

.col-md-12 {
    font-family: sans-serif;
}

#space_top {
    margin-top: 15%;
}

#space {
    margin-top: 15%;
    font-size: 20px;
}

.form-group button {
    color: white;
    background: #011627;
}

.form-group button:hover {
    color: white;
    background: #2EC4B6;
}

#create_account {
    font-size: 100%;
}

#create_account a {
    font-size: 100%;
    margin-left: 10px;
    margin-top: 20px;
    padding: 20px;
    text-decoration: none;
    font-family: sans-serif;
}

#create_account a:link, #create_account a:visited {
    color: white;
    border: 3px solid white;
    font-size: 12px;
    padding: 5px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#create_account a:hover, #create_account a:active {
    background-color: white;
    color:black;
    padding: 5px 9px;
    font-weight: bold;
}