@charset "utf-8";
/* ----------------------------FRAMEWORK---------------------------- */
html { overflow-y:scroll; overflow-x:hidden; }
html, body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 1.6em;
}

.logo {
	height: 50%;
	width: 50%;
}

*, *::before, *::after { box-sizing: border-box; }

.overlay { position: relative; z-index: 1; }
.overlay::after {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: "";
	z-index: -1;
}
.bgded {
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}
.circle { border-radius: 50%; background-clip: padding-box; }
.btn {
	display: inline-block;
	padding: 8px 18px 10px;
	text-transform: uppercase;
	border: 1px solid;
}

.clear, .group { display: block; }
.clear::before, .clear::after, .group::before, .group::after { display: table; content: ""; }
.clear, .clear::after, .group, .group::after { clear: both; }

a { outline: none;text-decoration: none; }

.fl_left, .imgl { float:left; }
.fl_right, .imgr { float:right; }

img {
	width:auto;
	max-width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	border: none;
	line-height: normal;
	vertical-align: middle;
}

.imgl { margin: 0 15px 10px 0; clear: left; }
.imgr { margin: 0 0 10px 15px; clear: right; }

body, input, textarea, select { font-family: Verdana, Geneva, sans-serif; }
h1, h2, h3, h4, h5, h6, .heading { font-family: Georgia, "Times New Roman", Times, sans-serif }

form, fieldset, legend { margin: 0; padding: 0; border:none; }
legend { display: none; }
label, input, textarea, select, button {
	display: block;
	resize: none;
	outline: none;
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	vertical-align: middle;
}

label { margin-bottom: 5px; }
:required, :invalid { outline: none; box-shadow: none; }

h1 { font-size: 30px; }

h2, h3, h4, h5, h6, .heading { 
	margin: 0 0 10px 0; 
	font-size: 20px; 
	line-height: normal; 
	font-weight: normal;
	text-transform: capitalize;
}

.heading.nospace { margin-bottom: 0; }

address { font-style: normal; font-weight: normal; }
hr {
	display: block;
	width: 100%;
	height: 1px;
	border: solid;
	border-width: 1px 0 0 0;
}

.font-xs { font-size: .8rem; }
.font-x1 { font-size: 1.2rem; }
.font-x2 { font-size: 1.8rem; }
.font-x3 { font-size: 2.8rem; }

.wrapper {
	display: block; /*  */
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	word-wrap: break-word;
}

.hoc { display: block; margin: 0 auto; }

address, article, aside, figcaption, figure, footer, header, main, nav, section {
	display: block;
	margin: 0;
	padding: 0;,
}

.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter {
	display: inline-block;
	float: left;
	margin: 0 0 0 3.06748466257669%;
	list-style: none;
}
.one_half_right {
	display: inline-block;
	float: right;
	margin: 0 0 0 3.06748466257669%;
	list-style: none;
}

.first {margin-left: 0; clear: left;}

.one_quarter{width:22.69938650306748%;}
.one_third{width:31.28834355828221%;}
.one_half, .two_quarter{width:48.46625766871166%;}
.two_third{width:65.6441717791411%;}
.three_quarter{width:74.23312883435584%;}

.btmspace-10{margin-bottom:10px;}
.btmspace-15{margin-bottom:15px;}
.btmspace-30{margin-bottom:30px;}
.btmspace-50{margin-bottom:50px;}
.btmspace-80{margin-bottom:80px;}

.inspace-5{padding:5px;}
.inspace-10{padding:10px;}
.inspace-15{padding:15px;}
.inspace-30{padding:30px;}
.inspace-50{padding:50px;}
.inspace-80{padding:80px;}

/* ----------------------------HEADER---------------------------- */
#header{  }

#header #logo { margin: 5px 0 0 0; }
#header #logo h1 {
	margin:0;
	padding: 0;
	font-size: 22px;
}

.bottom-bar {
    width: auto;
    height: 120px;
    background: #011627;
}

/* ----------------------------PAGE INTRO---------------------------- */
#pageintro { padding: 200px 0; }

#pageintro p {
	font-size: 30px;
	color: #FF9F1C;
	text-align: center;
	text-transform: uppercase;
}

#pageintro article { max-width: 80%; }
#pageintro article * { text-transform: uppercase; line-height: normal; }
#pageintro article .heading { margin: 0 0 50px 0; padding: 0; font-size: 64px; }
#pageintro article p:first-of-type { margin: 0 0 35px 0; font-size: 26px; letter-spacing: 5px; }
#pageintro article footer { margin-top: 80px; }

/* ----------------------------CONTENT AREA---------------------------- */
.container { padding: 80px 0; }

#comments ul { margin: 0 0 40px 0; padding: 0; list-style: none; }
#comments li { margin: 0 0 10px 0; padding: 15px; }
#comments .avatar { float: right; margin: 0 0 10px 10px; padding: 3px; }
#comments address { font-weight: bold; }
#comments time { font-size: smaller; }
#comments .comcont { display: block; margin: 0; padding: 0; }
#comments .comcont p { margin: 10px 5px 10px 0; padding: 0; }
#comments form { display: block; width: 100%; }
#comments input, #comments textarea { width: 100%; padding: 10px; border: 1px solid; }
#comments textarea { overflow: auto; }
#comments div { margin-bottom: 15px; }
#comments input[type="submit"], #comments input[type="reset"] {
	display: inline-block;
	width: auto;
	min-width: 150px; 
	margin: 0;
	padding: 8px 5px;
	cursor: pointer;
}

#copyright { padding: 20px 0; }
#copyright * { margin: 0; padding: 0; }

/* ----------------------------NAVIGATION---------------------------- */
nav ul, nav ol { margin: 0; padding: 0; list-style: none; }

#mainav, #breadcrumb, .sidebar nav { line-height: normal; }
#mainav .drop:after, #mainav li li .drop::after, #breadcrumb li a::after, .sidebar nav a::after {
	position: absolute;
	font-family: "FontAwesome";
	font-size: 10px;
	line-height: 10px;
}

#mainav {  }
#mainav ul.clear { margin-top: 3px; }
#mainav ul { text-transform: uppercase; }
#mainav ul ul {
	z-index: 9999;
	position: absolute;
	width: 180px; text-transform: none;
}

#mainav ul ul ul { left: 180px; top: 0; }
#mainav li {
	display: inline-block;
	position: relative;
	margin: 0 15px 0 0;
	padding: 0;
}

#mainav li:last-child { margin-right: 0; }
#mainav li li { width: 100%; margin: 0; }
#mainav li a { display: block; padding: 30px 0; }
#mainav li li a { border:solid; border-width: 0 0 1px 0; }
#mainav .drop { padding-left: 15px; }
#mainav li li a, #mainav li li .drop { display: block; margin: 0; padding: 10px 15px; }
#mainav .drop::after, #mainav li li .drop::after { content: "\f0d7"; }
#mainav .drop::after { top: 35px; left: 5px; }

#mainav form { display: none; margin: 0; padding: 0; }
#mainav form select, #mainav form select option { display: block; cursor: pointer; outline: none; }
#mainav form select { width: 100%; padding: 5px; border: 1px solid; }
#mainav form select option { margin: 5px; padding: 0; border: none; }

.sidebar nav { display: block; width: 100% }
.sidebar nav li { margin: 0 0 3px 0; padding: 0; }
.sidebar nav a {
	display: block;
	position: relative;
	margin: 0;
	padding: 5px 10px 5px 15px;
	text-decoration: none;
	border:solid;
	border-width: 0 0 1px 0;
}

.sidebar nav a::after { top: 9px; left: 5px; content: "\f101"; }
.sidebar nav ul ul a { padding-left: 35px; }
.sidebar nav ul ul a::after { left: 25px; }
.sidebar nav ul ul ul a { padding-left: 55px; }
.sidebar nav ul ul ul a::after { left: 45px; }

/* -------------------------CHECKOUT------------------------- */
.checkout-box {
  display: block;
  max-width: 480px;
  margin: 40px auto;
}

.modal {
  background: #FDFFFC;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  overflow: hidden;
}
.modal .form .form-row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0 0 30px;
}
.modal .form .form-row:last-child {
  margin: 0;
}
.modal .form .form-row:last-child .input-group {
  width: 75%;
  margin: 0 15px 0 0;
}
.modal .form .form-row:last-child .input-group:last-child {
  width: 25%;
  margin: 0 0 0 15px;
}
.modal .form .input-group {
  width: 100%;
}
.modal .form label {
  display: block;
  width: 100%;
  margin: 0 0 10px;
  color: #E71D36;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.modal .form input {
  outline: none;
  display: block;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 0;
  border: 0;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  padding: 15px;
  color: #999;
  font-size: 12px;
  font-weight: 700;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.modal .header {
  background: #2EC4B6;
  padding: 30px;
  text-align: center;
}
.modal .header h1 {
  margin: 0 0 15px;
  color: #FDFFFC;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.modal .header .card-type {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.modal .header .card-type .card {
  position: relative;
  width: 25%;
  min-width: 54px;
  text-align: center;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}
.modal .header .card-type .card.active {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  filter: grayscale(0);
}
.modal .header .card-type .card.active:after {
  display: block;
  bottom: -30px;
}
.modal .header .card-type .card:after {
  content: '';
  position: absolute;
  bottom: -60px;
  left: 50%;
  margin: 0 0 0 -10px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #FDFFFC;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.modal .header .card-type .card img {
  display: inline-block;
}
.modal .header .card-type li {
  display: inline-block;
  margin: 0 10px;
}
.modal .content {
  padding: 30px;
}
.modal .footer .button {
  outline: none;
  display: block;
  background: #FF9F1C;
  width: 100%;
  border: 0;
  padding: 20px 30px;
  color: #FDFFFC;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}
.info {
  width: 300px;
  margin: 50px auto;
  text-align: center;
}
.info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 24px;
  font-weight: 400;
  color: #333;
}
.info span {
  color: #666;
  font-size: 12px;
}
.info span a {
  color: #000000;
  text-decoration: none;
}
.info span .fa {
  color: #00a6ea;
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes active{ 0%{ bottom: -60px; opacity: 0; } 100%{ bottom: -30px; opacity: 1 }}
@-moz-keyframes active{ 0%{ bottom: -60px; opacity: 0; } 100%{ bottom: -30px; opacity: 1 }}
@-o-keyframes active{ 0%{ bottom: -60px; opacity: 0; } 100%{ bottom: -30px; opacity: 1 }}
@keyframes active{ 0%{ bottom: -60px; opacity: 0; } 100%{ bottom: -30px; opacity: 1 };
}

/* ----------------------------COLORS---------------------------- */
.row1 { color: #FFFFFF; background-color: rgba(1,22,39,.55); }
.row2 { color: #474747; background-color: #F6F6F6; }
.row3 { color: #474747; background-color: #FDFFFC; }
.row4 { color: #474747; background-color: #FDFFFC; }
.row4.overlay::after { background-color: rgba(255,255,255,.85); }
.row5, .row5 a { color: #011627, background-color: #222222; }

body { color: #CBCBCB; background-color: rgba(1,22,39,1); }

a { color: #2EC4B6; }
a:active, a:focus { background:transparent; }
hr, .borderedbox { border-color: #D7D7D7; }
label span { color: #FF0000; background-color: inherit; }
input:focus, textarea:focus, *:required:focus { border-color: #A95236; }
.overlay { color: #FFFFFF; background-color: inherit; }
.overlay::after { color: inherit; background-color: rgba(0,0,0,.25); }

.btn, .btn.inverse:hover { 
	color: #FFFFFF;
	background-color: #E71D36;
	border-color: #E71D36;
 }

#header #logo a { color: inherit; }

#comments ul { margin: 0 0 40px 0; padding: 0; list-style: none; }
#comments li { margin: 0 0 10px 0; padding: 15px; }
#comments .avatar { float: right; margin: 0 0 10px 10px; padding: 3px; }
#comments address { font-weight: bold; }
#comments time { font-size: smaller; }
#comments .comcont { display: block; margin: 0; padding: 0; }
#comments .comcont p { margin: 10px 5px 10px 0; padding: 0; }
#comments form { display: block; width: 100%; }
#comments input, #comments textarea { width: 100%; padding: 10px; border: 1px solid; }
#comments textarea { overflow: auto; }
#comments div { margin-bottom: 15px; }
#comments input[type="submit"], #comments input[type="reset"] {
	display: inline-block;
	width: auto;
	min-width: 150px; 
	margin: 0;
	padding: 8px 5px;
	cursor: pointer;
}

.container .sidebar nav a { color: inherit;border-color: #D7D7D7; }
.container .sidevar nav a:hover { color: #A95236; }

/* ----------------------------SEARCH BAR---------------------------- */

.align {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

:root {
  --gridMaxWidth: 20rem;
  --gridWidth: 90%;
}

.grid {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--gridMaxWidth);
  width: var(--gridWidth);
}

:root {
  --htmlFontSize: 100%;

  --bodyBackgroundColor: #61646d;
  --bodyColor: #000;
  --bodyFontFamily: 'Open Sans';
  --bodyFontFamilyFallback: sans-serif;
  --bodyFontSize: .875rem;
  --bodyFontWeight: 400;
  --bodyLineHeight: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::placeholder {
  color: #42454e;
}

input {
  appearance: none;
  border: none;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
}

input[type="search"] {
  appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  appearance: none;
}

.form__field {
  display: flex;
  flex-wrap: wrap;
}

.form__input {
  flex-grow: 1;
}

:root {
  --searchBorderRadius: .125rem;
  --searchFontSize: .75rem;
  --searchPadding: .5rem;

  --searchInputBorderRadius: .125rem;

  --searchInputSearchBackgroundColor: #fff;
  --searchInputSearchColor: #42454e;
  --searchInputSearchPaddingHorizontal: .5rem;
  --searchInputSearchPaddingVertical: .375rem;

  --searchInputButtonBackgroundColor: #1bba9a;
  --searchInputButtonColor: #fff;
  --searchInputButtonFontWeight: bold;
  --searchInputButtonPaddingHorizontal: .625rem;
  --searchInputButtonPaddingVertical: .375rem;
  --searchInputButtonHoverBackgroundColor: #189e83;
}

.search {
  background-color: var(--searchBackgroundColor);
  border-radius: var(--searchBorderRadius);
  font-size: var(--searchFontSize);
  padding: var(--searchPadding);
}

.search input[type="search"],
.search input[type="submit"] {
  border-radius: var(--searchInputBorderRadius);
}

.search input[type="search"] {
  background-color: var(--searchInputSearchBackgroundColor);
  color: var(--searchInputSearchColor);
  padding: var(--searchInputSearchPaddingVertical) var(--searchInputSearchPaddingHorizontal);
}

.search input[type="submit"] {
  background-color: var(--searchInputButtonBackgroundColor);
  color: var(--searchInputButtonColor);
  font-weight: var(--searchInputButtonFontWeight);
  margin-left: .5rem;
  padding: var(--searchInputButtonPaddingVertical) var(--searchInputButtonPaddingHorizontal);
}

.search input[type="submit"]:hover {
  background-color: var(--searchInputButtonHoverBackgroundColor);
}


/* ----------------------------USER PROFILE---------------------------- */

figure .profile-banner {
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 25%;
}

.profile-name {
	display: block;
	font-size: 50px;
	margin: 25px auto 0;
	width: 975;
	bottom: 20px;
	color: #FFFFFF;
	font-size: 40px;
	left: 350px;
	position: absolute;
	z-index: 5;
}

#profile-header {
	height: 300px;
	position: relative;
	width: 100%;
}

#profile-header img {
	height: 300px;
	width: 100%;
}

figure .profile-picture {
	background-position: center center;
	background-size: cover;
	background-color: red;
	border: 5px #efefef solid;
	border-radius: 50%;
	bottom: -50px;
	height: 148px;
	left: 150px;
	position: absolute;
	width: 148px;
	z-index: 3;
}

.profile-text {
	padding-left: 150px;
	text-align: left;
	border-right: 2px solid black;
	width: 150px;
}

.biography {
	text-align: left;
	padding-right: 40px;
	padding-left: 0;
}

.inline {
	display: inline-block;
	float: left;
	margin: 0 0 0 3.06748466257669%;
	list-style: none;
	width:30%;
}


